<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html lang="en">
<head>
    <title>The current time</title>
</head>
<body>
<table width="50" align="center" border="0">
<tr><td colspan="2">	 					 
	<img src="/static/myimg2.jpg" width="852" height="216" alt="img">
</td></tr>
<tr><td> <p><font face="calibri" size="5">No. DDIT(Inv.)/Unit II(1)/Summon/<b>IN{{SummonName.sNo}}</b>/2012-13 </font></td><td align="right"><font face="calibri" size="5">Date:<b>{{SummonName.IssueDate}}</b></font></p></td></tr><br>
<tr><th colspan="2"><font face="calibri" size="6"><br>Summons U/s. 131 of the Income Tax Act, 1961<br></font></th></tr><br>
<tr><td>
<font face="calibri" size="5">To, <br>

{{ SummonName.partyName }}<br>
{{ SummonName.address }}<br>
<br><br>
</tr></td><tr align="justified"><td colspan="2"><font face="calibri" size="5">
Sir/Madam,<br>

<p align="justify">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Whereas your attendance is required in connection with the proceedings under the Income Tax Act in the cases of <b>{{SummonName.incaseOf}}</b>,   you are hereby required to attend at above mentioned address on <b>{{SummonName.DueDate}}</b> at 11.30 AM, to give evidence and/or to produce either personally or through an authorized representative, the documents specified as per letter attached herewith, and not to depart until you receive my permission to do so. Without prejudice to the provisions of any other law for the time being in force, if you intentionally omit to produce the documents required as per the letter enclosed, a fine upto Rs. 10,000 may be imposed upon you under section 272 A (1)(c) of the Income Tax Act 1961.</p> <br><br><br><br></font>
</td></tr>
<tr align="right" ><td colspan="2">

<font face="calibri" size="5">
<p>(SANTOSH K. KARNANI)<br>
  Deputy Director of Income Tax (Inv.),<br>
  Unit II(1), Mumbai.<br>
</p></td></tr>


<tr ><td><font face="calibri"size="5">Encls: As above.</font></td></tr>					           
</body>
</html>