<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html lang="en">
<head>
    <title>The current time</title>
</head>
<body>
<table width="80%" align="center" border="1">
<tr><td>	 					 
	Tel : 022-22635522
Office of the
Dy. Director of Income Tax
(Investigation), Unit- II(1)
Room No 437, 4th Floor, Scindia House,
Ballard Estate, Mumbai- 400038
No.DDIT(Inv.)/ Unit-II(1)/Show Cause/SK /2012-13                Date :26/06/2012
</td></tr>
<tr><td>
To, 

{{ SummonName.partyName }}<br>
{{ SummonName.address }}


Sub:-	Non Compliance of 
1)	{{ SummonName.incaseOf }}
2)	Show-cause No. DDIT(Inv.)/Unit-II(1)/Show Cause/SK/2012-13 dtd. 26.06.2012- reg.-
		Kindly refer to the above .
2.   		A summons u/s. 131 of the I.T. Act was issued to you on 12.06.2012 and served upon to you on the same date  wherein   required details had to be submitted  immediately by you.[ Copy enclosed for ready reference].  Further show cause dated 26.06.2012 was issued and served upon you on 27.06.2012 wherein required details had to be submitted immediately. 
3.		It is seen that you have not fully complied with the above summons & show cause and merely submitted bank statement for  13 accounts out of 15 accounts asked for.    Apart from this, you have  also not submitted  other details as required in the annexure of the summons dated 12.06.2012.   
4.	    	Since, till date, You have not furnished  the  required details, , it may be presumed that you have failed to comply the summon issued to you.
5.  		In view of the above you are requested to show cause by 29.06.2012 as to  why a penalty u/s 272A(1)(c) of the I.T. Act, 1961  should not be levied  personally on  you for failure to comply the summons.


Encls: As above.					          ( Jaya Choudhary)										DDIT(Inv.) Unit-II(1), Mumbai.
</td></tr>
<tr><td>Encls: As above.					          ( Jaya Choudhary)										DDIT(Inv.) Unit-II(1), Mumbai.</td></tr>
</table>
   
</body>
</html>